@use './partials/variables' as *;
@use './partials/header';
@use './partials/home';
@use './partials/buy';
@use './partials/index';
@use './partials/show';
@use './partials/footer';
@import '~bootstrap/scss/bootstrap';

body {
    font-family: "Roboto", sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.rectangle {
    width: fit-content;
    border: none;
    background-color: $brand-primary;
    color: $brand-light;
    text-transform: uppercase;
}

button {
    &.rectangle {
        transition: transform 0.5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }
}