@use './partials/variables' as *;
@use './partials/header';
@use './partials/home';
@use './partials/comics/index';
@use './partials/comics/show';
@use './partials/footer';
@import '~bootstrap/scss/bootstrap';

body {
    font-family: "Roboto", sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}