@use './variables' as *;

header {
    background-color: $brand-light;
    position: sticky;
    top: 0;
    z-index: 1;

    .navbar-nav {
        .nav-item {
            position: relative;

            .nav-link {
                &.ms-active {
                    color: $brand-primary;
                }

                &:hover {
                    color: $brand-primary;
                }
            }

            div {
                &.ms-active {
                    width: 86%;
                    height: .3125rem;
                    background-color: $brand-primary;
                    position: absolute;
                    bottom: -110%;
                    left: 9%;
                }
            }
        }
    }
}