@use '../variables' as *;

.single-comics {
    .card {
        max-width: 70%;
        border: none;

        img {
            max-width: 40%;
        }
    }

    .rectangle {
        width: fit-content;
        background-color: $brand-primary;
        border: none;
        text-transform: uppercase;
        transition: transform 0.5s;

        &.edit-comic {
            padding-left: 3.75rem;
            padding-right: 3.75rem;
            align-self: center;
            cursor: pointer;

            a {
                color: $brand-light;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}